[*.cs]

# IDE0069: Campos descartáveis devem ser descartados
dotnet_diagnostic.IDE0069.severity = none

# CA1305: Especificar IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1068: Os parâmetros CancellationToken devem vir por último
dotnet_diagnostic.CA1068.severity = none
